.notransition{-webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important}.ui-dialog.no-close .ui-dialog-titlebar-close{display:none}.btn.disabled{pointer-events:none}