/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Inline for mfield common styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.inline-field input,
  .inline-field select,
  .inline-field textarea,
  .inline-field span.text
{
  display: inline-block;
}

.inline-field.has-view .field {
  display: none;
}

.has-diff-saved-value input {
  /* TODO Styles for changed not saved fields
   * It is not obvious that these changed fields are not saved,
   * because only invalid are highlighted
   */
}

.invalid-inline-field input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border-color: #a94442;
}

.has-diff-saved-value .tooltip-inner {
  background-color: #fef0f0 !important;
  border-color: #eaccd1 !important;
  margin-top: 0px;
  color: #c55a59 !important;
}

.edit-open-mark .inline-field .view,
.inline-field.editable.edit-open-mark .view
{
  display: none;
}

.edit-open-mark .inline-field .view.editable
{
  display: none;
}
/*
.inline-field .view.editable span
{
  padding-left: 4px;
}*/

.edit-open-mark .inline-field.has-view .field,
.inline-field.has-view.edit-open-mark .field
{
  display: block;
}

.edit-mark .inline-field.editable .view,
.inline-field.editable:hover .view
{
  cursor: pointer;
  background-color: #fcebb0;
  border-radius: 4px;
  overflow: hidden;
}

.inline-field.editable .view{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}

.edit-mark .inline-field.editable .view .right-fade,
.inline-field.editable:hover .view .right-fade
{
  display: none;
}

.remove-mark .inline-field.editable .view {
  background-color: transparent;
  cursor: auto;
}

.inline-field .field .wheel-mark {
  margin-right: 0;
  vertical-align: middle;
}

.inline-field.editable .view {
  padding: (@rhythmic-unit / 3 - 1) (@rhythmic-unit / 2 - 1);
  border: 1px solid transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

table.list .inline-field.editable .view {
  margin: 0 (-@rhythmic-unit / 2);
}
