{##
 # @ListChild (list="product.details.page", weight="80")
 #}

<div>
    <h2>Secondary images</h2>
    <div>
        {% for image in this.getProduct().getSecondaryImages() %}
            {{ widget('\\XLite\\View\\Image', image=image, maxWidth=200, maxHeight=200) }}
        {% endfor %}
    </div>
</div>