{##
 # Age Verification
 #}
    <!-- The Modal -->
    <div id="ageVerificationPopup" class="age-verification-popup" style="background-color: rgba(0,0,0,{{ this.getBackgroundOpacity() }}); display: none;">
        <!-- Modal content -->
        <div id="age-verification-popup-content" class="age-verification-popup-content" style="width: {{ this.getWidth() }}px; height: {{ this.getHeight() }}px; background-color: {{ this.getBackgroundColor() }}">
            <h1 id="age-verification-popup-content-title" class="title">{{ this.getTitle() | raw }}</h1>
            <div class="age-label">
                <p id="age-verification-popup-content-label-text" class="age-label-text">{{ this.getMinAge() | raw }}+</p>
            </div>
            <div id="age-verification-popup-content-description" class="description">
            </div>
                <input type="hidden" name="target" value="age_verification">
                <input type="hidden" name="action" value="send">
                <div id="age-verification-popup-content-container-settings" class="btn-container">
                        <button id="age-verification-popup-content-settings-btn-away" class="btn regular-button submit btn-away" type="submit" name="btn_away" value="1" onclick="location.href = 'www.google.ru'">{{ this.getAwayButtonText() | raw }}</button>
                        <div id="age-verification-popup-content-settings-container-input">
                            <input id="age-verification-popup-content-settings-age" class="input-age" type="text" name="age" placeholder="Your age">
                        </div>{##
 # Age Verification
 #}
    <!-- The Modal -->
    <div id="ageVerificationPopup" class="age-verification-popup" style="background-color: rgba(0,0,0,{{ this.getBackgroundOpacity() }}); display: none;">
        <!-- Modal content -->
        <div id="age-verification-popup-content" class="age-verification-popup-content" style="width: {{ this.getWidth() }}px; height: {{ this.getHeight() }}px; background-color: {{ this.getBackgroundColor() }}">
            <h1 id="age-verification-popup-content-title" class="title">{{ this.getTitle() | raw }}</h1>
            <div class="age-label">
                <p id="age-verification-popup-content-label-text" class="age-label-text">{{ this.getMinAge() | raw }}+</p>
            </div>
            <div id="age-verification-popup-content-description" class="description">
            </div>
                <input type="hidden" name="target" value="age_verification">
                <input type="hidden" name="action" value="send">
                <div id="age-verification-popup-content-container-settings" class="btn-container">
                        <button id="age-verification-popup-content-settings-btn-away" class="btn regular-button submit btn-away" type="submit" name="btn_away" value="1" onclick="location.href = 'www.google.ru'">{{ this.getAwayButtonText() | raw }}</button>
                        <div id="age-verification-popup-content-settings-container-input">
                            <input id="age-verification-popup-content-settings-age" class="input-age" type="text" name="age" placeholder="Your age">
                        </div>
                        <button id="age-verification-popup-content-settings-btn-success" class="btn regular-button submit btn-success" type="submit" name="btn_success" value="1">{{ this.getSuccessButtonText() | raw}}</button>
                </div>
                <div id="age-verification-popup-content-container-no-settings" class="btn-container">
                        <button id="age-verification-popup-content-no-settings-btn-away" class="btn regular-button submit btn-away" type="submit" name="btn_away" value="1" onclick="location.href = 'www.google.ru'">{{ this.getAwayButtonText() | raw }}</button>
                        <button id="age-verification-popup-content-no-settings-btn-failure" class="btn regular-button submit btn-failure" type="submit" name="btn_failure" value="1">{{ this.getFailureButtonText() | raw }}</button>
                        <button id="age-verification-popup-content-no-settings-btn-success" class="btn regular-button submit btn-success" type="submit" name="btn_success" value="1">{{ this.getSuccessButtonText() | raw}}</button>
                </div>
        </div>
    </div>
                        <button id="age-verification-popup-content-settings-btn-success" class="btn regular-button submit btn-success" type="submit" name="btn_success" value="1">{{ this.getSuccessButtonText() | raw}}</button>
                </div>
                <div id="age-verification-popup-content-container-no-settings" class="btn-container">
                        <button id="age-verification-popup-content-no-settings-btn-away" class="btn regular-button submit btn-away" type="submit" name="btn_away" value="1" onclick="location.href = 'www.google.ru'">{{ this.getAwayButtonText() | raw }}</button>
                        <button id="age-verification-popup-content-no-settings-btn-failure" class="btn regular-button submit btn-failure" type="submit" name="btn_failure" value="1">{{ this.getFailureButtonText() | raw }}</button>
                        <button id="age-verification-popup-content-no-settings-btn-success" class="btn regular-button submit btn-success" type="submit" name="btn_success" value="1">{{ this.getSuccessButtonText() | raw}}</button>
                </div>
        </div>
    </div>