/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Reviews list styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.cell div.approved {
  color: #6bb670;
}

.cell div.pending {
  color: #a94461;
}

.items-list div.list-footer {
  text-align: left;
}

.items-list.reviews .edit-review {
  border: none;
  padding: 0;
  height: auto;
  margin: 0;
  background: transparent none;
}

.items-list.reviews table.list td.product .plain-value {
  width: 212px;
}

.items-list.reviews td.cell.product {
  max-width: 200px;
}

.items-list.reviews td.cell.review {
  max-width: 215px;
}

.items-list.reviews td.cell.additionDate .value {
  font-size: 12px;
}

.items-list.reviews td.cell.reviewerName .cell {
  font-size: 14px;
}

.items-list.reviews td.cell.reviewerName a {
  display: block;
  line-height: 16px;
}

.items-list.reviews td.cell.reviewerName .profile-email {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 20px;
}

.items-list.reviews td.cell.review .review-text {
  width: 200px;
}

.items-list.reviews td.cell.review .review-text .tooltip-caption{
  font-size: 14px;
}


