{##
 # Age Verification
 #}
<!-- The Modal -->
<div id="ageVerificationPopup" class="age-verification-popup"
     style="background-color: rgba(0,0,0,{{ this.getBackgroundOpacity() }});
     {% if this.getAgeVerification() != 1 and this.getPopupIsEnabled() and this.isAdmin() == false %} display: block; {% else %} display: none; {% endif %}">
    <!-- Modal content -->
    <div id="age-verification-popup-content" class="age-verification-popup-content"
         style="width: {{ this.getWidth() }}px; height: {{ this.getHeight() }}px; background-color: {{ this.getBackgroundColor() }}">
        <h1 id="age-verification-popup-content-title" class="title">{{ this.getTitle() | raw }}</h1>
        <div class="age-label">
            <p id="age-verification-popup-content-label-text" class="age-label-text">{{ this.getMinAge() | raw }}+</p>
        </div>
        <div id="age-verification-popup-content-description" class="description">
            {% if this.getAgeVerification() == 0 %} {{ this.getDenyMessage() }} {% else %} {{ this.getDescription() }} {% endif %}
        </div>
        <input type="hidden" name="target" value="age_verification">
        <input type="hidden" name="action" value="send">
        {% if this.getPopupType() %}
            <div id="age-verification-popup-content-container-settings" class="btn-container" style="display: block">
                {% if this.getAgeVerification() == 0 %}
                    <div id="age-verification-popup-content-settings-container-input" style="display: none">
                        <input id="age-verification-popup-content-settings-age" class="input-age" type="text" name="age"
                               placeholder="Your age"></div>
                        <button id="age-verification-popup-content-settings-btn-away"
                                class="btn regular-button submit btn-away"
                                type="submit" name="btn_away" value="1"
                                style="display: inline-block">{{ this.getAwayButtonText() | raw }}</button>
                        <button id="age-verification-popup-content-settings-btn-success"
                                class="btn regular-button submit btn-success" type="submit" name="btn_success"
                                value="1" style="display:none;">{{ this.getSuccessButtonText() | raw }}</button>
                {% else %}
                    <div id="age-verification-popup-content-settings-container-input" style="display: block">
                        <input id="age-verification-popup-content-settings-age" class="input-age" type="text" name="age"
                               placeholder="Your age">
                        <button id="age-verification-popup-content-settings-btn-success"
                                class="btn regular-button submit btn-success" type="submit" name="btn_success"
                                value="1" style="display:inline-block;">{{ this.getSuccessButtonText() | raw }}</button>
                        <button id="age-verification-popup-content-settings-btn-away"
                                class="btn regular-button submit btn-away"
                                type="submit" name="btn_away" value="1"
                                style="display: none">{{ this.getAwayButtonText() | raw }}</button>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div id="age-verification-popup-content-container-no-settings" class="btn-container" style="display: block">
                {% if this.getAgeVerification() == 0 %}
                    <button id="age-verification-popup-content-settings-btn-away"
                            class="btn regular-button submit btn-away"
                            type="submit" name="btn_away" value="1"
                            style="display: inline-block">{{ this.getAwayButtonText() | raw }}</button>
                    <button id="age-verification-popup-content-no-settings-btn-failure"
                            class="btn regular-button submit btn-failure" type="submit" name="btn_failure"
                            value="1" style="display: none">{{ this.getFailureButtonText() | raw }}</button>
                    <button id="age-verification-popup-content-settings-btn-success"
                            class="btn regular-button submit btn-success" type="submit" name="btn_success"
                            value="1" style="display:none;">{{ this.getSuccessButtonText() | raw }}</button>
                {% else %}
                    <button id="age-verification-popup-content-no-settings-btn-failure"
                            class="btn regular-button submit btn-failure" type="submit" name="btn_failure"
                            value="1" style="display: inline-block">{{ this.getFailureButtonText() | raw }}</button>
                    <button id="age-verification-popup-content-settings-btn-success"
                            class="btn regular-button submit btn-success" type="submit" name="btn_success"
                            value="1" style="display:inline-block;">{{ this.getSuccessButtonText() | raw }}</button>
                    <button id="age-verification-popup-content-settings-btn-away"
                            class="btn regular-button submit btn-away"
                            type="submit" name="btn_away" value="1"
                            style="display: none">{{ this.getAwayButtonText() | raw }}</button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>