/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Global styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.ui-dialog.no-close {
  .ui-dialog-titlebar-close {
    display: none;
  }
}

.btn.disabled {
  pointer-events: none;
}