/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Order items list styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.items-list-table.order-items table.list {
  border: none;
  width: 881px;
}

.items-list-table .list-footer,
.items-bottom
{
  width: 844px;
}

.order-info.not-editable .items-list-table.order-items table.list
{
  width: 844px;
}

.items-list-table.order-items table.list thead th:not(.total),
.items-list-table.order-items table.list tbody td:not(.total) {
  border-left: none;
  border-right: none;
}

.items-list-table.order-items table.list thead {
  background: transparent none;;
}

.items-list-table.order-items table.list thead th {
  font-size: 14px;
  background: @items-list-head-bg;

  &.name {
    font-size: 20px;
  }
}

.items-list-table.order-items table.list tbody.lines tr.zero-total td.cell {
  background-color: #f5fcf4;
}

.items-list-table.order-items table.list thead th.actions.right,
.items-list-table.order-items table.list tbody td.actions.right,
.items-list-table.order-items table.list tbody.lines tr.line.last td.cell.actions.right,
.items-list-table.order-items table.list tbody.lines tr.line.even td.cell.actions.right,
.items-list-table.order-items table.list tbody.lines tr.line.zero-total td.cell.actions.right {
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: white;
  padding-right: 0;
}

.items-list-table.order-items table.list tbody td.actions.right .separator {
  display: none;
}

.items-list-table.order-items table.list tbody td.actions.right > * {
  visibility: hidden;
}

.items-list-table.order-items table.list tbody tr.edit-mark td.actions.right > *,
.items-list-table.order-items table.list tbody tr.edit-open-mark td.actions.right > *,
.items-list-table.order-items table.list tbody tr.remove-mark td.actions.right > *
{
  visibility: visible;
}

.items-list-table.order-items table.list thead th.price,
.items-list-table.order-items table.list thead th.amount
{
  text-align: center;
}

.items-list-table.order-items table.list tbody td.price .table-value input {
  width: 86px;
}

.items-list-table.order-items table.list tbody td.amount .table-value input {
  width: 43px;
}

.items-list-table.order-items table.list tbody td.cell.main {
  width: 500px;
  max-width: 500px;

  .item-image-container {
    .flex-display();
    .align-items(center);
    .justify-content(center);
    min-width: 60px;
    min-height: 60px;
    border: @border-base solid @table-border-color;
    border-radius: @border-radius-base;
    margin-right: @rhythmic-unit;
    background: #fff;

    img {
      max-width: 58px;
      max-height: 58px;
    }
  }
}

.items-list-table.order-items table.list tbody td.cell.price {
  width: 152px;
  text-align: center;
}

.items-list-table.order-items table.list tbody td.cell.amount {
  width: 74px;
  text-align: center;
  padding-left: 12px;
}

.items-list-table.order-items table.list tbody td.cell.total {
  width: 108px;
  text-align: right;
}

.items-list-table.order-items table.list tbody td.cell.name .item-name {
  font-weight: @font-bold;
}

.items-list-table.order-items table.list tbody td.cell.name .item-name a {
  text-decoration: none;
  color: black;
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
}

.items-list-table.order-items table.list tbody td.cell.name ul.subitem span.name
{
    font-weight: @font-bold;
}

.items-list-table.order-items table.list tbody td.cell.name ul.subitem li {
  display: inline;
}

.items-list-table.order-items table.list tbody td.cell.name ul.subitem li {
  vertical-align: top;
}

.items-list-table.order-items table.list tbody td.cell.name ul.subitem .text,
.items-list-table.order-items .model-definition.model-is-defined span.text
{
  max-width: 400px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  line-height: 19px;
  white-space: nowrap;
}

.items-list-table.order-items table.list tbody td.cell.name ul.subitem .text span,
.items-list-table.order-items .model-definition.model-is-defined span.text span
{
  vertical-align: top;
}

.items-list-table.order-items table.list tbody td.cell.name div.cell {
  .flex-display();
  .align-items(center);
}

.items-list-table.order-items table.list tbody tr.edit-mark td.cell.name .edit-options-link,
.items-list-table.order-items table.list tbody tr.edit-open-mark td.cell.name .edit-options-link,
.items-list-table.order-items table.list tbody tr.create-line td.cell.name .edit-options-link
{
  display: block;
}

.items-list-table.order-items table.list tbody td.cell.name .edit-options-link a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.items-list-table.order-items table.list tbody td.cell.price .cell .inline-field {
}

.items-list-table.order-items table.list tbody td.price .view {
  width: auto;
}

.items-list-table.order-items table.list tbody .edit-open-mark td.cell.price .cell .inline-field {
  margin-left: 0;
}

.items-list-table.order-items td.cell.price .input-group-addon {
  width: 30px;
}

.items-list-table.order-items .ctrl-auto .restore-orig-price {
  display: none;
}

.items-list-table.order-items tbody td.cell.price .restore-orig-price {
  top: -45px;
  right: -5px;
  text-align: right;
  position: relative;
  height: 0;
}

.order-info .restore-orig-price .fa {
  color: #318477;
  font-size: 14px;
  cursor: pointer;
}

.order-info.not-editable .items-list-table.order-items .restore-orig-price {
  display: none;
}

.items-list-table.order-items table.list tbody td.cell.total * {
  font-size: 14px;
}

.items-list-table.order-items .item-attributes-box,
.items-list-table.order-items .attribute-box,
.items-list-table.order-items table.list tbody td.cell.name ul.subitem
{
  white-space: normal;
}

.items-list-table.order-items .item-attributes-box li {
  display: inline;
}

.items-list-table.order-items .model-is-defined .item-attributes-box {
  .name {
    font-weight: @font-bold;
  }
}

.items-list-table.order-items li.item-attribute-values-list-item-text,
.items-list-table.order-items table.list tbody td.cell.name ul.subitem li.item-attribute-values-list-item-text,
.items-list-table.order-items li.item-attribute-values-list-item-yes-no,
.items-list-table.order-items table.list tbody td.cell.name ul.subitem li.item-attribute-values-list-item-yes-no
{
  display: block;
}

.items-list-table.order-items .item-attribute-values-list-item .attribute-box:last-child span.separator {
  display: none;
}

.items-list-table.order-items .item-attribute-values-list-item {
  white-space: normal;
}

.items-list-table.order-items .item-attribute-values-list-item .attribute-box {
  vertical-align: top;
}

.items-list-table.order-items .popover {
  max-width: initial;
  min-width: 400px;
}

.items-list-table.order-items .popover .popover-content {
  position: relative;
}

.items-list-table.order-items .popover .popover-content .attribute-values {
  margin: 0;
  padding: 0;
}

.items-list-table.order-items .popover .popover-content,
.ui-dialog {
  .attribute-values > li {
    display: block;
    margin: 0 0 @rhythmic-unit / 2 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.items-list-table.order-items .popover .popover-content,
.ui-dialog {
  .attribute-values > li {
    & > * {
      .flex-display();
      align-items: center;
    }
    & > select {
      width: 245px;
    }
    & > span.title {
      width: 100%;
      display: block;
    }
  }
}

.items-list-table.order-items .popover .popover-content,
.ui-dialog {
  ul.attribute-values > li > label {
    .flex-display();
    height: 2 * @rhythmic-unit;

    span.title,
    div.checbox-box {
      padding: 0;
      margin: 0;
      .flex-display();
      background: none;
      border: none;
    }

    span.title {
      order: 2;
      margin-left: @rhythmic-unit / 2;
    }
  }
}

.ui-dialog .ui-dialog-content ul.attribute-values {
  padding-bottom: @rhythmic-unit / 2;
}

.items-list-table.order-items table.list tbody td.cell.name .edit-options-link .popover .close {
  position: absolute;
  top: 3px;
  right: 6px;
  color: #9d9d9d;
  opacity: 1;
  text-decoration: none;
  font-size: 22px;
  border-bottom: 0px none;
}

.items-list-table.order-items .popover .popover-content .attribute-values {
  background: none;
  width: auto;
}

.ajax-container-loadable ul.attribute-values {
  margin-bottom: 30px;
}

.ajax-container-loadable ul.attribute-values li {
  margin-bottom: 18px;
}

.ajax-container-loadable ul.attribute-values span.title {
  font-size: 14px;
}

.ajax-container-loadable ul.attribute-values .form-control {
  margin-top: 4px;
}

.items-list-table table.list tbody.create tr.line td {
  background: rgba(252, 235, 176, 0.3);
}

.items-list-table.order-items .model-definition.model-is-defined {
  font-style: normal;
  color: @color-text-dark;
}

.items-list-table.order-items .model-definition.model-is-defined span {
  font-size: 14px;
  line-height: 19px;
}

.items-list-table.order-items .model-definition.model-is-defined .item-attribute-values-list-item {
  vertical-align: top;
}

.items-list-table.order-items table.list .field .subfield {
  position: static;
}

.items-list-table.order-items table.list tbody.create td.cell.name .edit-options-link {
  top: 7px;
}

.items-list-table.order-items table.list ul.attribute-values label div {
  border: 0px none;
  padding-left: 0px;
}

.items-list-table.order-items table.list ul.attribute-values label div input[type="checkbox"] {
  margin-top: 0px;
}


.items-list-table.order-items table.list tbody td.cell.name .backordered-info {
  color: #f69c3b;
}