/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Product PIN codes styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.pin-codes-actions > * + * {
  margin-left: 24px;
}

.items-list-table.pincodes table.list {
  max-width: 800px;
}

.items-list-table.pincodes table.list tbody .pin-sold,
.items-list-table.pincodes table.list tbody .pin-blocked {
  padding-bottom: 1px;
}

.pincodes td.code {
  min-width: 500px;
}

.items-list-table.pincodes th.createDate {
  text-align: right;
}

.items-list-table.pincodes table.list tbody tr td.createDate .view {
  font-size: 14px;
}

.items-list-table.pincodes table.list tbody tr td.statusData div.pin-sold,
.items-list-table.pincodes table.list tbody tr td.statusData div.pin-blocked {
  background: transparent url(../images/pin_sold.png) no-repeat 0 3px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 5px;
}

.items-list-table.pincodes table.list tbody tr td.statusData a {
  padding-bottom: 3px;
  display: inline-block;
  line-height: 3px;
}

.items-list-table.pincodes table.list tbody tr td.statusData a {
  text-decoration: underline;
  color: #0f8dd0;
}
