/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * ____file_title____
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

div.mail-history {
  > .title {
    margin-bottom: 20px;
  }

  > .details {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    font-size: 14px;

    > ul {
      list-style: none;
    }

    .block-item {
      list-style: none;

      > .head {
        margin-bottom: 10px;
      }

      > .event {
        ul.event-details {
          list-style: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;

          li {
            &.date {
              white-space: nowrap;
              margin-right: 10px;
              color: #8f8f8f;
            }

            &.author {
              float: right;
              white-space: nowrap;
              margin-left: auto;
              text-decoration: none;

              font-size: 14px;
              color: #8f8f8f;
            }

            &.description {
              line-height: 16px;
            }
          }

          .details .action {
            cursor: pointer;
            line-height: 1;
            i {
              font-size: 1.2em;
            }
          }
        }

        .order-event-details {
          background: whiteSmoke;

          .details {
            padding: 10px;
            word-wrap: break-word;
            margin-top: 10px;
          }

          .order-packaging ul.packages {
            width: 600px;

            li {
              margin-top: 15px;
              padding-bottom: 5px;

              div {
                background-color: #e5e5e5;
                padding: 7px;

                .package-id {
                  color: #154e9c;
                  font-size: 14px;
                }

                .package-props {
                  color: #9c9c9c;
                  font-size: 14px;
                }
              }

              ul.package-products {
                list-style: disc inside;
                padding-left: 20px;
                padding-top: 5px;

                li {
                  margin-top: 6px;

                  span {
                    font-size: 14px;
                  }

                  .package-item-qty {
                    color: #9c9c9c;
                  }
                }
              }
            }
          }
        }

        li.order-history-object-detail-column {
          display: inline-block;
          padding-left: 25px;
          vertical-align: top;

          li {
            display: block;

            .value {
              font-style: italic;
              color: #666666;
            }
          }
        }

        & + .event {
          margin-top: 10px;
        }
      }
    }

    ul > .block + .block {
      margin-top: 20px;
    }
  }

  > .customer {
    color: #8f8f8f;
    margin-top: 20px;

    .placed-date {
      font-size: 16px;

      .date {
        font-weight: bold;
        color: #5a5a5a;
      }

      margin-bottom: 10px;
    }

    .placed-customer {
      font-size: 14px;

      > div {
        display: inline-block;
      }
    }
  }
}
