{##
 # Item name cell
 #}

<div class="item-image">
    <img src={{ this.entity.getImageURL() }} alt={{ this.entity.getName() }}
         width={{ this.getHtmlCode()|raw }}  height={{ this.getHtmlCode()|raw }}>
</div>