/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.items-list.tags th.actions.left {
  text-align: right;
}

.items-list.tags th.actions.left input {
  margin-right: 14px;
}

.items-list.tags th.products,
.items-list.tags td.products {
  text-align: right;
}

