/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Sale common styles. Admin area.
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.product-name-sale-label-disabled {
  display: none;
}

.items-list.itemslist-model-product-admin-search {
  table.list tbody.lines tr.line td.name {
    div.cell {
      .flex-flow(column-reverse);
      .align-items(flex-start);

      .product-name-sale-label {
        font-size: 12px;
        line-height: 18px;
        color: @color-error;
        text-transform: capitalize;
      }
    }
  }
}

.set-price-dialog .sale-label {
  color: #8f8f8f;
  font-size: 14px;
  padding: 10px;
}

.set-price-dialog button {
  margin: 10px 0px 0px 100px;
}

.sale-price-value div.table-value .input-text-price input,
  .sale-price-value div.table-value .input-text-symbol input
{
  width: 90px;
}
