{##
 # Name item cell
 #
 # @ListChild (list="invoice.item", weight="10")
 #}
{% spaceless %}
  <td class="item">
    <div class="item-container">
      <div class="item-image">
        {% if this.item.hasImage() %}
          <img src="{{ this.item.getImageURL() }}" alt="{{ this.item.getName() }}">
        {% endif %}
      </div>
      <div class="item-info">
        {% if this.item.getURL() %}
          <a href="{{ this.item.getURL() }}" class="item-name">{{ this.item.getName() }}</a>
        {% endif %}
        {% if not this.item.getURL() %}
          <span class="item-name">{{ this.item.getName() }}</span>
        {% endif %}
        {% if not this.item.product.isPersistent() %}
          <span class="deleted-product-note">({{ t('deleted') }})</span>
        {% endif %}

        {% if this.isViewListVisible('invoice.item.name', {'item': this.item}) %}
          <ul class="subitem additional simple-list">
          {{ widget_list('invoice.item.name', item=this.item) }}
          </ul>
        {% endif %}
      </div>
    </div>
  </td>
{% endspaceless %}
