/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Page layout styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

#sub-section {
  float: right
}

#page-wrapper {
  .flex-display();
  .flex-direction(column);

  height: auto !important;
  min-height: 100%;
  width: 100%;
}

#page-container {
  .flex-display();
  .flex-grow(2);
  .align-items(stretch);

  position: relative;
  width: 100%;
  padding: 0;
}

#main {
  .flex(1 1 auto);
  transition: height ease-in-out 0s;
  position: relative;
  padding: 0 @center-padding-right (@rhythmic-unit * 2) @center-padding-left;
  border-top: 1px solid #c1c1c2;
  background-color: #fff;

  &::before {
    .gradient(#fdfdfd, #fdfdfd, #ebebec);
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
  }

  .dialog-content .alert {
    display: inline-block;
  }
}