/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Volume discounts list styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.items-list-table.volume-discounts .cell.discount .cell,
.items-list-table.volume-discounts .cell.membership .cell {
  width: 150px;
}

.items-list-table.volume-discounts .subtotalRangeBegin {
  padding-left: 24px;
}

.items-list-table.volume-discounts .text-grey {
  color: @color-tip;
  text-transform: lowercase;
  margin-right: 6px;
}